:root {
  --color-logo: #4d5ae5;
  --color-text: #434455;
  --color-text-title-bng: #2e2f42;
  --color-white: #ffffff;
  --color-footer-text: #f4f4fd;
  --color-btn-bng: #404bbf;
}
/* index.html start */
body {
  background-color: var(--color-white);
  font-family: "Roboto", sans-serif;
  color: var(--color-text);
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul {
  margin: 0;
  padding: 0;
  border: 0;
}
img {
  display: block;
  max-height: 100%;
  height: auto;
}

.container {
  width: 1158px;
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
}

.list {
  list-style: none;
  text-decoration: none;
  font-style: normal;
}

.link {
  text-decoration: none;
  height: 19px;
}

header {
  box-sizing: border-box;
  font-style: normal;
  list-style: none;
  color: var(--color-text);
  background-color: var(--color-white);
  background: #ffffff;
  border-bottom: 1px solid #e7e9fc;
  padding-top: 24.5px;
  padding-bottom: 24.5px;
}

.header-nav {
  display: flex;
  justify-content: space-between;
}
.nav-wrap {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* index.html LOGO */
.logo-title {
  display: inline-block;
  text-transform: uppercase;
  text-decoration: none;
  font-family: "Raleway", sans-serif;
  color: var(--color-logo);
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  margin-right: 76px;
}

.header-list {
  display: flex;
}

.address-item {
  margin-right: 40px;
}

.link-adsress {
  text-decoration: none;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--color-text);
}
.logo-span {
  color: var(--color-text-title-bng);
}

/* index.html HEADER LIST+NAV */

.link-adsress:hover,
.link-adsress:focus {
  color: #404bbf;
}
.header-address {
  text-decoration: none;
  font-style: normal;
}

.address-list {
  display: flex;
}

.link-item:hover,
.link-item:focus {
  color: var(--color-btn-bng);
}

.link-item {
  margin-right: 40px;
  text-decoration: none;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--color-text-title-bng);
}

.link-item {
  text-decoration: none;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--color-text-title-bng);
}
/* index.html HERO SECTION */
.hero-section {
  box-sizing: border-box;
  background-color: #2e2f42;
  padding-top: 188px;
  padding-bottom: 188px;
}

.hero-wrap {
  display: flex;
  justify-content: center;
}
.hero-title {
  max-width: 496px;
  font-size: 56px;
  line-height: 1.07;
  text-align: center;
  letter-spacing: 0.02em;
  color: var(--color-white);
  margin-bottom: 46px;
}

.btn-wrap {
  display: flex;
  justify-content: center;
}

.link-address {
  color: var(--color-text);
}
/* index.html HERO BUTTON */
.hero-btn:hover,
.hero-btn:focus {
  background-color: #404bbf;
  cursor: pointer;
}

.hero-btn {
  background-color: var(--color-logo);
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: var(--color-white);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  padding: 16px 32px 16px 32px;
}
/* index.html SECTION GOALS*/
.goals {
  box-sizing: border-box;
  padding-top: 120px;
  padding-bottom: 120px;
}

.goals-title {
  font-weight: 500;
}

.ours-list {
  display: flex;
  margin-right: 24ox;
}

.goals-item {
  list-style: none;
  margin-right: 24px;
}

.goals-list-title {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--color-text-title-bng);
  margin-bottom: 8px;
}

.goals-item-text {
  max-width: 264px;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--color-text);

  width: 264px;
}

/* index.html SECTION WORCKS */
.worck {
  box-sizing: border-box;

  padding-bottom: 120px;
}
.section-worck-title {
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-align: center;
  text-transform: capitalize;
  color: var(--color-text-title-bng);
  margin-bottom: 72px;
}

.img-worck {
  display: flex;
}

.worck-item {
  margin-right: 24px;
}

/* index.html SECTION TEAM */
.team {
  background-color: #f4f4fd;
  padding-top: 120px;
  padding-bottom: 120px;
}

.our-tram {
  display: flex;
}
.info-wrap {
  padding-top: 32px;
  padding-bottom: 32px;
}
.team-list-title {
  display: flex;
  justify-content: center;
  margin-bottom: 8px;
}

.team-list-text {
  display: flex;
  justify-content: center;
}
.section-team-title {
  text-transform: capitalize;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-align: center;
  color: var(--color-text-title-bng);
  margin-bottom: 72px;
}

.team-item {
  background-color: var(--color-white);
  margin-right: 24px;
}

.team-list-title {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--color-text-title-bng);
}
.team-list-text {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--color-text);
}

/* index.html FOOTER */
.web-footer {
  background-color: #2e2f42;
  padding-top: 100px;
  padding-bottom: 100px;
}

.logo-title-footer {
  display: inline-block;
  text-transform: uppercase;
  text-decoration: none;
  font-family: "Raleway", sans-serif;
  color: var(--color-logo);
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  margin-bottom: 16px;
}
.web-footer-text {
  max-width: 264px;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--color-footer-text);
}

.logo-span-footer {
  color: var(--color-footer-text);
}
/* index.html finish */

/* portfolio.html start */

.portfolio {
  margin: 0 auto;
  padding-top: 96px;
  padding-bottom: 120px;
}
.portfolio-btn:hover,
.portfolio-btn:focus {
  color: var(--color-white);
  background-color: var(--color-btn-bng);
  cursor: pointer;
}

/* portfolio.html BUTTON */
.portfolio-btn {
  background-color: var(--color-footer-text);
  border: 1px solid #e7e9fc;
  border-radius: 4px;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  border: 1px solid #e7e9fc;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: var(--color-logo);
  padding: 12px 24px;
}

.portfolio-list {
  display: flex;
  justify-content: center;
  margin: 0 auto;

  margin-bottom: 72px;
}

/* portfolio.html LIST */
.portfolio-item {
  margin-right: 24px;
}

.portfolio-info-wrap {
  padding: 32px 17.5px;
  padding-bottom: 32px;
  border: 1px solid #e7e9fc;
  border-top: none;
}
.non-margin {
}

ul.img-list.list li:nth-last-child(-n + 3) {
  margin-bottom: 0;
}

.portfolio-item-img {
  width: calc((100% - 48px) / 3);
}

.img-list {
  display: flex;
  flex-wrap: wrap;
  gap: 48px 24px;
}

/* portfolio.html TITLE */
.img-title {
  box-sizing: border-box;
  margin-bottom: 8px;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--color-text-title-bng);
}

/* portfolio.html IMAGES */
.img-text {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--color-text);
}

.line-title {
  background-color: var(--color-white);
  border: 1px solid #e7e9fc;
  width: 360px;
  margin-right: 0;
}
